<div class="home_container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="PLAYSTATION HITS"
        gameType="Digital | PS4"
        gamePrice="78,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameType="Digital | PS4"
        gamePrice="99,50"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameType="Digital | PS4"
        gamePrice="198,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="BAFTA Games Award: Best Audio"
        gameType="Disc | PS3"
        gamePrice="159,00"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameType="Digital | PS3 |PS4"
        gamePrice="203,93"
    >
    </app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameType="Digital | PS3"
        gamePrice="59,00"
    >
    </app-card>
</div>
